.box {
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.box-medium {
    width: 64px;
    height: 64px;
    border: 2px solid #000000;
    float: left;
    border-radius: 5px;
}